/* You can add global styles to this file, and also import other style files */

html,
body,
.app-root {
  display: block;
  //position: relative;
  width: 100vw !important;
  height: 100vh !important;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  overflow-y: hidden;
}

@import "assets/themes/skins/default/theme-default.scss";
@import "primeicons/primeicons.css";
@import "assets/themes/scss/mixin";
.p-dropdown {
  width: 100% !important;
}
.p-dropdown-label {
  font-size: 12px !important;
}
.p-inputtext {
  font-size: 12px !important;
  white-space: nowrap !important;
}
.p-calendar {
  width: 100% !important;
}
.esa-form-field {
  height: 48px !important;
}
.fieldTitle {
  font-size: 12px;
  font-weight: bold;
}
.fieldInput {
  font-size: 12px !important;
}
.viewTitle {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #204887;
  text-wrap: wrap;
}
.viewDesc {
  font-size: 12px;
  text-wrap: wrap;
}
.viewList {
  font-size: 14px;
  text-wrap: wrap;
  strong {
    font-weight: bold;
  }
}

.ess-file-upload-control {
  height: 48px !important;
  .file-upload {
    color: #fff;
    font-size: 12px;
    background-color: #204887;
    border: 1px solid #204887;
  }
}
.imgStyle {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
@media (min-width: 600px) and (max-width: 900px) {
  .imgStyle {
    max-width: 80%; /* Adjust the size for tablet screens */
    border-radius: 8px; /* Slightly reduce the border radius */
  }
}
@media screen and (max-width: 468px) {
  .imgStyle {
    max-width: 60%; /* Further adjust the size for larger screens */
    border-radius: 6px; /* Further reduce the border radius */
  }
}
.best-practice-btn {
  background: #f0c617;
  border: 1px solid #f0c617;
  padding: 0rem 2rem;
  font-size: 1rem;
}
.p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
  color: #f6d53b;
}
.re-use-lesson-btn {
  background: #357003;
  border: 1px solid #357003;
  padding: 0rem 2rem;
  font-size: 1rem;
}
.submit-btn {
  background: #204887;
  padding: 0.5rem 2rem;
  font-size: 1rem;
}
@media screen and (max-width: 468px) {
  .submit-btn {
    background: #204887;
    padding: 0.5rem;
    font-size: 0.8rem;
  }
  .displayFlex {
    display: block !important;
}
  }
.approvalTask {
  background-color: white;
  color: #204887;
  border-color: #204887;
  font-size: 18px;
  height: 48px;
}
.p-column-filter-menu-button,
.p-column-filter-clear-button {
  display: none;
}
.p-dropdown-panel{
  // max-width: 280px !important;
   .p-dropdown-item{
     white-space: wrap;
    // font-size: 14px;
   }
 }
.p-inputnumber-button-group {
  display: none !important;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border-color: #204887 !important;
  color: #204887 !important;
}