
.ess-file-upload-control {
  height: 44px !important;
  .p-inputtext {
    border-radius: 0 4px 4px 0 !important;
  }
  .file-upload {
    background-color: #204887 !important;
    border: 1px solid #204887 !important;
  }
}
.file-upload {
  background-color: #204887 !important;
  i,
  label {
    color: #fff !important;
  }
}
.fontbold{
  font-weight: bold;
}

